* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #f8f8f8;
  animation: animation_for_body 0.75s;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@keyframes animation_for_body {
  from {
    opacity: 0;
    transform: translatey(-10px);
  }
  to {
    opacity: 1;
    transform: translatey(0px);
  }
}
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
section {
  padding: 30px 0;
}

.boxText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boxImg img {
  width: 350px;
  filter: brightness(75%);
  border: 5px solid #186ee0;
  padding: 10px;
}

.littletit {
  color: rgba(85, 85, 85, 0.719);
}
.littletit span {
  color: #186ee0;
}

.title {
  font-size: 30px;
  font-weight: bold;
}
.title span {
  color: #186ee0;
}

.paragraph {
  color: rgba(85, 85, 85, 0.719);
}

.custombtn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #186ee0;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  transition: 0.5s;
  border: 1px solid #186ee0;
}
.custombtn:hover {
  background-color: transparent;
  color: black;
}

.open {
  background-color: green;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
}

.close {
  background-color: red;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
}

.coming {
  background-color: gray;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
}

header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 654;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header .container .logo a {
  text-decoration: none;
  color: #186ee0;
  display: flex;
  align-items: center;
  font-weight: bold;
}
header .container .logo a img {
  height: 65px;
}
header .container nav {
  display: flex;
  font-size: 1.25em;
}
header .container nav .active {
  color: #186ee0;
}
header .container nav .page {
  position: relative;
  display: flex;
  flex-direction: column;
}
header .container nav .page div {
  display: none;
  position: absolute;
  left: 10px;
  top: 46px;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  z-index: 245555555555448;
}
header .container nav .page div span {
  width: 180px;
  font-size: calc(1em - 2px);
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  padding: 10px;
}
header .container nav .page div span a {
  color: rgb(0, 0, 0);
}
header .container nav .page div span:hover {
  background-color: #e9ecef;
}
header .container nav span a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
}
header .container nav span a:hover {
  color: #186ee0;
}
header .container .sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 444156;
  background-color: #ffffff;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .container .sidenav .parent {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .sidenav .parent .ch1 {
  display: flex;
  align-items: center;
}
header .container .sidenav .parent .ch1 img {
  height: 65px;
  margin-right: 10px;
}
header .container .sidenav .parent .ch2 .closebtn {
  font-size: 2.1875em;
  color: black;
}
header .container .sidenav div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .container .sidenav div:nth-child(2) a {
  text-decoration: none;
  font-size: 1.25em;
  color: #818181;
  display: block;
  transition: 0.3s;
}
header .container .sidenav div:nth-child(2) a:hover {
  color: #186ee0;
}
header .container .sidenav div:nth-child(2) a:nth-child(1) {
  color: #186ee0;
}
header .container .boxThree .tog {
  font-size: 1.5625em;
  color: #000000;
  cursor: pointer;
}

@media (max-width: 1000px) {
  header .container nav {
    display: none;
  }
}
@media (min-width: 1001px) {
  header .container .boxThree {
    display: none;
  }
}
.landing {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/landing.jpg);
  background-color: #186ee0;
  height: calc(100vh - 80px);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
.landing .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.landing .container .text {
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  font-size: 2.5em;
}

.landing_sec {
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.landing_sec .container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.landing_sec .container div:nth-child(1) {
  font-family: "exo 2";
  font-weight: bold;
  font-size: 2.5em;
  margin: 10px 0;
}
.landing_sec .container div:nth-child(2) {
  font-size: 1em;
  margin: 10px 0;
}
.landing_sec .container div:nth-child(2) a {
  color: inherit;
  text-decoration: none;
}
.landing_sec .container div:nth-child(2) a:last-child {
  color: #186ee0;
}

.landing_about {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.644)), url(../imgs/landing_about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing_programs {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.644)), url(../imgs/landing_programs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing_sustainabilitychampions {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.644)), url(../imgs/landing_sustainabilitychampions.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing_events {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.644)), url(../imgs/landing_events.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing_team {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.644)), url(../imgs/landing_team.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .about .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
.mission .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.vision .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .mission .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .vision .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
.programs .container .boxheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.programs .container .boxs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.programs .container .boxs .box {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.5s;
}
.programs .container .boxs .box:hover {
  transform: translateY(-10px);
}
.programs .container .boxs .box img {
  width: 300px;
}

@media (max-width: 767px) {
  .programs .container .boxheader {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
}
.sustainability_champions .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.sustainability_champions .container .eligibility,
.sustainability_champions .container .benefits,
.sustainability_champions .container .modules,
.sustainability_champions .container .dates,
.sustainability_champions .container .complete,
.sustainability_champions .container .more,
.sustainability_champions .container .apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sustainability_champions .container .eligibility .title,
.sustainability_champions .container .benefits .title,
.sustainability_champions .container .modules .title,
.sustainability_champions .container .dates .title,
.sustainability_champions .container .complete .title,
.sustainability_champions .container .more .title,
.sustainability_champions .container .apply .title {
  color: #186ee0;
}

.events .container .boxheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.events .container .boxs {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.events .container .boxs .box {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.5s;
}
.events .container .boxs .box:hover {
  transform: translateY(-10px);
}
.events .container .boxs .box img {
  width: 300px;
}

.team .container .boxheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.team .container .boxs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.team .container .boxs .box {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  transition: 0.5s;
}
.team .container .boxs .box:hover {
  transform: translateY(-10px);
}
.team .container .boxs .box img {
  width: 200px;
}

@media (max-width: 767px) {
  .team .container .boxheader {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
}
.partners .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.partners .container .imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.partners .container .imgs img {
  width: 200px;
  border-radius: 20px;
  transition: 0.5s;
}
.partners .container .imgs img:hover {
  transform: translateY(-10px);
}

.footer_one {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.644)), url(../imgs/footer.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  padding: 30px 0;
  font-size: 1em;
}
.footer_one .container .boxs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
.footer_one .container .boxs .box_one .tit_f {
  color: white;
  font-family: "exo 2";
  font-weight: bold;
  margin-bottom: 15px;
}
.footer_one .container .boxs .box_one div:nth-child(2),
.footer_one .container .boxs .box_one div:nth-child(3),
.footer_one .container .boxs .box_one div:nth-child(4) {
  color: rgb(255, 255, 255);
}
.footer_one .container .boxs .box_one div:nth-child(2) i,
.footer_one .container .boxs .box_one div:nth-child(3) i,
.footer_one .container .boxs .box_one div:nth-child(4) i {
  margin: 10px 0;
}
.footer_one .container .boxs .box_one div:nth-child(5) {
  margin-top: 15px;
}
.footer_one .container .boxs .box_one div:nth-child(5) i {
  margin: 0 10px 0 0;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}
.footer_one .container .boxs .box_two .tit_f {
  color: white;
  font-family: "exo 2";
  font-weight: bold;
  margin-bottom: 10px;
}
.footer_one .container .boxs .box_two div a {
  text-decoration: none;
  color: white;
}
.footer_one .container .boxs .box_three .tit_f {
  color: white;
  font-family: "exo 2";
  font-weight: bold;
}
.footer_one .container .boxs .box_three div:nth-child(2) {
  color: rgb(255, 255, 255);
  margin: 15px 0;
}
.footer_one .container .boxs .box_three div:nth-child(3) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer_one .container .boxs .box_three div:nth-child(3) input:nth-child(1) {
  background-color: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.562);
  padding: 15px;
  border-radius: 10px;
}
.footer_one .container .boxs .box_three div:nth-child(3) input:nth-child(1)::-moz-placeholder {
  color: rgb(255, 255, 255);
}
.footer_one .container .boxs .box_three div:nth-child(3) input:nth-child(1)::placeholder {
  color: rgb(255, 255, 255);
}
.footer_one .container .boxs .box_three div:nth-child(3) input:nth-child(2) {
  position: absolute;
  margin-right: 10px;
  background-color: #186ee0;
  border: unset;
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.footer_one .container footer {
  border-top: 1px solid rgb(255, 255, 255);
  text-align: center;
  color: white;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .footer_one .container .boxs {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer_one .container .boxs .box_one div:nth-child(5) i {
    margin: 0 5px;
  }
  .footer_one .container .boxs .box_two {
    margin: 50px 0;
  }
}/*# sourceMappingURL=style.css.map */
